<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.daegu.springbootapi.board.model.BoardDAO">

    <select id="getBoardList" resultType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        SELECT * FROM board
    </select>

    <insert id="postBoard" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        INSERT INTO Board (author,
                           subject,
                           content,
                           writeDate,
                           writeTime,
                           readCount,
                           commentCount,
                           password,
                           replyRootId,
                           depth,
                           orderNum)
        values (#{author}, #{subject}, #{content}, #{writeDate}, #{writeTime} , 0, 0, #{password}, 0, 0, 0)
    </insert>

    <update id="putBoard" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        UPDATE BOARD
        SET author=#{author},
            content=#{content},
            subject=#{subject},
            writeDate=#{writeDate},
            writeTime=#{writeTime}
        WHERE id=#{id}
    </update>

    <select id="getBoardById" parameterType="int" resultType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        SELECT * from Board
        WHERE id = #{id}
    </select>

    <update id="updateIsDelBoardById" parameterType="int">
        UPDATE BOARD
        SET isDEL = 'Y'
        WHERE id = #{id}
    </update>
    <!--<select id="selectUsers" parameterType="me.fleuve.springboot03.dto.UserDTO"
            resultType="me.fleuve.springboot03.dto.UserDTO">&lt;!&ndash; selectUsers()메서드를 호출하면 실행할 SELECT문이며, UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.&ndash;&gt;
        SELECT `seq`, `name`, `country`
        FROM lab03
        <if test='country != null and country != ""'>&lt;!&ndash; 만약 파라미터에 country가 있다면 SQL문에 WHERE절을 추가합니다. &ndash;&gt;
            WHERE country = #{country}
        </if>
    </select>-->

</mapper>